
/* Base */
p {
font-size: 17px;
font-family: Arial;
text-align: center;
margin-left: 60px;
margin-right: 60px;
}

.introduction {
font-size: 17px;
margin-left: 65px;
margin-right: 65px;
text-align: center;
}
/* Layout */
header {
background-color: #F6F7F7;
padding-top: 20px;
padding-bottom: 20px;
}

.name {
text-align: center;
margin: 10px 0px 30px 50px;
}

.picture-of-me {
width: 300px;
margin-left: 70px;
}

.portfolio,
.portfolio-2{
text-align: center;
margin-top: 30px;
margin-bottom: 50px;
}

.Portfolio-images,
.Portfolio-images-2 {
width: 300px;
margin-top: 20px;
}

h3 {
margin: 35px;
}

body {
  width: 90%;
margin: 0 auto;
}
/* Footer */
.bottom-part {
background-color: #F6F7F7;
margin-left: 15px;
width: 100px 10px 100px 10px;
}

.contact-title {
text-align: center;
padding-top: 60px;
}

/* Navigation */
.main-nav {
margin-top: 10px;
list-style-type: none;
text-align: center;
}

.main-nav li{
margin: 10px;
background-color: #fff;
}



.main-nav a {
text-align: center;
padding: 15px 15px;
display: block;
list-style-type: none;
}

a {
  text-decoration: none;
color: black;
}

.top {
display: inline-block;
font-size: 13px;
padding: 5px;
margin-right: 70px;
}

.name-footer {
display:inline;
font-size: 15px;
}

.bottom-nav {
display: none;
}

.top {
display: block;

}




/* Media Queries */
@media (min-width: 768px) and (max-width:1023px){

.main-nav {
  float: right;
  margin-right: 140px;
}

.main-nav li {
  display: inline-block;
  margin-left: 15px;
}

.main-nav a {
  text-decoration: none;
  width: 100px;
  display: block;
  font-size: 17px;
  padding: 15px;
  transition: 0.4s;
 }

.picture-of-me {
  float: right;
  margin-left: -90px;
 }

.introduction {
  text-align: left;
  float: left;
  width: 67%;
  margin: 0;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}
.picture-of-me {
  width: 30%
}

.top {
display:none;
}

.bottom-nav {
display: inline-block;
}

/* Bottom content */

.contact-title {
  text-align: center;
}


.top {
  display:none;
}

.bottom-nav {
  display: inline-block;
  float: right;
  list-style-type: none;
  text-align: center;
}

.bottom-nav li {
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.footer {
  background-color: #F6F7F7;
}

hr {
  border: none;
  height: 1px;
  background: #dddddd;
}
.contacts {
  margin-left: 150px;
  margin-right: 150px;
}

.contact-title {
    margin-right: 20px;
    margin-bottom: 70px;
}

}


@media (min-width: 1024px){

body {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
}

.name {
  float:left;
  margin-top: 50px;
}

nav {
  margin-bottom: -30px;
  margin-left: 30px;
}

.main-nav {
  float: right;
  margin-top: 30px;
  margin-right: 50px;

}

.main-nav li{
  background-color: #F6F7F7;
  display: inline-block;
  font-size: 14px;
}

.picture-of-me {
  float:right;
  width: 30%;
  margin-right: 70px;
}

.left-col,
.right-col {
  width: 33%;
  float:left;
  }

.mid-col {
  width: 34%;
  float:left;
}

.introduction {
  text-align: left;
  float: left;
  width: 40%;
  margin: 0;
  margin-left: 50px;
  margin-top: 15px;
  letter-spacing: 1px;
}



p {
  width: 80%;
  margin-left: 40px;
  margin-right: 0;
  margin-top: -20px;
  padding-left: 0px;
  padding-right: 0px;
}
/* Bottom content */

.contact-title {
  text-align: center;
}


.top {
  display:none;
}

.bottom-nav {
  display: inline-block;
  float:right;
  list-style-type: none;
  text-align: center;
}

.bottom-nav li {
  text-decoration: none;
  float:left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.footer {
  background-color: #F6F7F7;
  display: inline-block;
}

hr {
  border: none;
  height: 1px;
  background: #dddddd;
}
.contacts {
  margin-left: 150px;
  margin-right: 150px;
}

.contact-title {
    margin-right: 20px;
    margin-bottom: 70px;
}



}

/* Clearfix  */
.main, .container::after {
content:"";
display: table;
clear: both;
}
