
/* Base */
body {
  font-family: 'Raleway', sans-serif;
}

.whole {
  margin: auto;
  width: 90%;
}

strong {
  color: orange;
}

p {
  font-size: 17px;
  text-align: center;
margin-left: auto;
margin-right: auto;
}

.introduction {
  font-size: 17px;
  margin-left: 65px;
  margin-right: 65px;
  text-align: center;
}

h4 {
    text-align: center;
    margin-top: 0;
}

hr {
  border-top: 1px solid #dddddd;
}

/* Layout */
header {
  background-color: #F6F7F7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  text-align: center;
  margin: 10px 0px 30px 0px;
}

.picture-of-me,
.Portfolio-images {
 width: 100%;
 margin: auto;

}

.portfolio,
.portfolio-2{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.Portfolio-images,
.Portfolio-images-2 {
  width: 100%;
  margin-top: 20px;
}

h3 {
  margin: 35px;
}

body {
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 0 auto;
}

/* Footer */

.contact-title {
  text-align: center;
  padding-top: 60px;
}

/* Navigation */
.main-nav {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

.main-nav li{
  margin: 10px;
  background-color: #FFE4B5;
}

.main-nav a {
  text-align: center;
  padding: 15px 15px;
  display: block;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.name-footer {
  float: left;
  font-size: 15px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.bottom-nav {
  display: none;
}

.top {
  float: right;
  margin-right: 30px;
}

.bottom-section {
  background-color: #F6F7F7;
}

.bottom-page {
  overflow: hidden;
}

#contacts-section {
  max-width: 90%;
  margin: 0 auto;
}




/* Media Queries */
@media (min-width: 768px) {

  .Portfolio-images,
  .Portfolio-images-2 {
    width: 300px;
  }

/* Main navigation */
.main-nav li {
  display: inline-block;
  margin-left: 15px;
}

.main-nav a {
  text-decoration: none;
  width: 100px;
  display: block;
  font-size: 17px;
  padding: 15px;
  transition: 0.4s;
 }

.introduction {
  text-align: left;
  float: left;
  width: 60%;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;

}
/* Body */
.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}
.picture-of-me {
  width: 30%;
  position: relative;
  float: right;
}

/* Bottom content */

.name-footer {
  display: inline-block;
  margin-left: 50px;
}
.contact-title {
  text-align: center;
}


.top {
  display:none;
}

.bottom-nav {
  display: inline-block;
  float: right;
  list-style-type: none;
  text-align: center;
  margin-right: 30px;
  margin-top: 0;
}

.bottom-nav li {
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  background-color: #FFE4B5;
}

.footer {
  background-color: #F6F7F7;
}

.contacts {
  margin-left: 150px;
  margin-right: 150px;
}

.contact-title {

    margin-bottom: 70px;
}

hr {
  width: 90%;
}

}


@media (min-width: 1024px) {
.Portfolio-images-2 {
  max-width: 100%;
}

.Portfolio-images {
  max-width: 100%;
}

p.contact-info {
  width: 80%;
  margin: auto;
}

.whole {
  max-width: 1150px;
}

.name {
  float:left;
  margin-top: 50px;
  margin-left: 10px;
}

nav {
  margin-bottom: -30px;
  margin-left: 30px;
}

.main-nav {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

.main-nav li{
  background-color: #FFE4B5	;
  display: inline-block;
  font-size: 14px;
}

.picture-of-me {
  float: right;
  width: 30%;
  margin-right: 70px;
  position: relative;
}

.left-col,
.right-col {
  width: 30%;
  float:left;

  }

.mid-col {
  width: 30%;
  float:left;

}

.left-col,
.mid-col {
  margin-right: 30px;
}

.introduction {
  text-align: left;
  float: left;
  width: 40%;
  margin: 0;
  margin-left: 50px;
  margin-top: 15px;
  letter-spacing: 1px;
}

header {
  overflow: hidden;
}

p {
  width: 80%;
  margin-left: 40px;
  margin-right: 0;
  margin-top: -20px;
  padding-left: 0px;
  padding-right: 0px;
}

.skills {
margin-left: 100px;
}

.skills-title {
  margin-top: 30px;
  margin-right: 150px;
}

.portfolio-title {
  text-align: center;
  margin-right: 50px;
}


/* Bottom content */

.name-footer {
float: left;
font-size: 15px;
margin-left: 45px;
}

.contact-title {
  text-align: center;
  margin: auto;
}

.top {
  display:none;
}

.bottom-nav {
display: inline-block;
float: right;
list-style-type: none;
text-align: center;
margin-right: 35px;
margin-top: 0;

}

.bottom-nav li {
text-decoration: none;
display: inline-block;
padding-left: 10px;
padding-right: 10px;
font-size: 13px;
background-color: #FFE4B5;
}

.footer {
  background-color: #F6F7F7;
  display: inline-block;
}

.contacts {
  margin: auto;
}

.contact-title {
    text-align: center;
    margin-bottom: 70px;
}

.contact-text {
  text-align: center;
  margin: auto;
}

hr {
  width: 90%;
}

.bottom-part {
  margin: auto;
}
}

/* Clearfix  */
.main, .bottom-part, header::after {
content:"";
display: table;
clear: both;
}
